<div class="selectBar">
<label for="country">Select Country</label>

<select id="country">

    <option *ngFor="let country of Countries" value="{{country.Country}}">{{country.Country}}</option>

</select>

<span class="dot bg-primary"></span>
<p>{{TotalCases.TotalConfirmed}}</p>
<span class="dot bg-success"></span>
<p>{{TotalCases.TotalDeaths}}</p>
<span class="dot bg-danger"></span>
<p>{{TotalCases.TotalRecovered}}</p>
</div>

<div class="casesTable">
    <table class="table table-bordered">
        <thead>
        <tr class="table-dark">
            <th scope="col" class="casesTableFirst">Date</th>
            <th scope="col" class="casesTableFirst">Total Cases</th>
            <th scope="col" class="casesTableFirst">Active</th>
            <th scope="col" class="casesTableFirst">Recovered</th>
            <th scope="col" class="casesTableFirst">Deaths</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let stat of stats | slice:stats.length-7:stats.length; let i = index;">
            <td class="casesTableFirst">{{stat.Date}}</td>
            <td class="casesTableFirst">{{stat.Confirmed}}</td>
            <td class="casesTableFirst">{{stat.Active}}</td>
            <td class="casesTableFirst">{{stat.Recovered}}</td>
            <td class="casesTableFirst">{{stat.Deaths}}</td>
        </tr>

        </tbody>
    </table>
</div>
