.selectBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

.selectBar > *{
  margin: 10px;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.casesTable {
  margin: 20px;
  border: 1px solid black;
}

.casesTableFirst {
  margin: 20px;
  border: 2px solid black;
}