
#headBar {
  font-family: 'Fredoka One', serif;
  color: white;
  background-color: #323433;
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  height: 140px;
  padding: 14px;
}

#linkBar {
  color: white;
  background-color: #9E6DF7;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 3px;
  justify-content: space-between;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

#headBar input {
  width: 160px;
  overflow: hidden;
}

a {
  margin: 0 10px;
  color: white;
}

#linkBar div {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

#linkBar div li {
  margin-left: 20px;
}

div a {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: white;
}

div img {
  margin: 2px;
  color: white;
}

.triangle-up-home {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  bottom: 0;
  left: 60px;
  }

.triangle-up-addUser {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  bottom: 0;
  left: 200px;
  }

.triangle-up-allUser {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  bottom: 0;
  left: 360px;
  }

  .triangle-up-covidMeter {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  bottom: 0;
  left: 547px;
  }

#headBar h4 {
  width: 15%;
  font-size: 20px;
  padding-left: 15px;
  overflow: hidden;
}
