<div id="headBar">

<!--  <h4 *ngIf="!atAddUser">CONTACTLESS ORDERING </h4>-->
<!--  <h1 *ngIf="!atAddUser">nipsol</h1>-->
  <input class="form-control">
  <h1>Hello</h1>
</div>
<div id="linkBar">
  <div>
    <img
      src="https://trello-attachments.s3.amazonaws.com/5f7bd0b923daee5e9a63b3d3/5f7bd0b923daee5e9a63b3e6/x/8798f7c5935a2500d83ad956ee95eb33/nipsol_favicon.png"
      alt="">
    <a target="_blank" href="http://www.nipsol.com">www.nipsol.com</a>

  </div>
  <div>
    <li
        class="item" id="homeClick">
      <!--        [style] = "{backgroundColor: atHome ? 'red' :  'blue'}" -->

      <a routerLink="" routerLink="/home"> Home</a>
      <div class="triangle-up-home" *ngIf="router.url === '/home'"></div>
    </li>

    <li
        class="item" id="addUserClick">
      <!--        [style] = "{backgroundColor: atAddUser ? 'red' :  'blue'}" -->

      <a routerLink="/addUser"> +Add User</a>
      <div class="triangle-up-addUser" *ngIf="router.url === '/addUser'"></div>
    </li>
    <!--    [class.triangle-up]="atHome"-->
  </div>
</div>
<router-outlet></router-outlet>
<!--<app-add-user *ngIf="false" [currUserNameUser]="currUserNameHome"></app-add-user>-->

