<div id="headBar">

<!--  <h4 *ngIf="!atAddUser">CONTACTLESS ORDERING </h4>-->
<!--  <h1 *ngIf="!atAddUser">nipsol</h1>-->
<h4 class="form-control">{{currUserName}}</h4>
<h1>Hello</h1>
</div>
<div id="linkBar">
    <div>
        <img
                src="https://trello-attachments.s3.amazonaws.com/5f7bd0b923daee5e9a63b3d3/5f7bd0b923daee5e9a63b3e6/x/8798f7c5935a2500d83ad956ee95eb33/nipsol_favicon.png"
                alt="">
        <a target="_blank" href="http://www.nipsol.com">www.nipsol.com</a>

    </div>
    <div>
        <li
                class="item" id="homeClick">
            <!--        [style] = "{backgroundColor: atHome ? 'red' :  'blue'}" -->

            <a href="#"> Home</a>
            <div  class="triangle-up-home"></div>
        </li>

        <li
                class="item" id="addUserClick">
            <!--        [style] = "{backgroundColor: atAddUser ? 'red' :  'blue'}" -->

            <a href="#"> +Add User</a>
            <div class="triangle-up-addUser"></div>
        </li>
        <!--    [class.triangle-up]="atHome"-->
    </div>
</div>


<section id="userDetails">
    <div>
        <h3>User Registration</h3>
    </div>
    <form>
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="text" id="name" [(ngModel)]="currUserName">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3">
            </div>
        </div>

        <div class="form-group row">
            <label for="phone" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-10">
                <input type="tel" class="form-control" id="phone">
            </div>
        </div>

        <div class="form-group row">
            <label for="address" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="address">
            </div>
        </div>

        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                <div class="col-sm-10 abc">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                               value="option1" checked>
                        <label class="form-check-label" for="gridRadios1">
                            Male
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                               value="option2">
                        <label class="form-check-label" for="gridRadios2">
                            Female
                        </label>
                    </div>
                </div>
            </div>

        </fieldset>

        <div class="form-group row abc">
            <button type="reset" class="btn btn-dark btn-lg">RESET</button>
            <button type="submit" class="btn btn-purple btn-lg">SUBMIT</button>
        </div>
    </form>

</section>

