<section id="about">
    <h2>Salient Features of Nipsol</h2>
    <p>1. It offers a Platform Independent application for all restaurant food ordering needs.</p>
    <p>2. A Nipsol certified restaurant is marked as Safe to Dime by most customers across India.</p>
    <p>3. Nipsol payment system can be Integrated at 0% charges.</p>
    <p>4. With QR Based Ordering and e-Invoice functionality, human intervention is reduced making it a contactless
        alternative to conventional ordering mechanisms.</p>
    <p>5. Currently Nipsol has marked its presence in over 50 Restaurants/Cafes across 50 cities within a span of 8
        weeks since its launch.</p>
</section>

